body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  text-transform: uppercase;
}

ol {
  padding-left: 25px;
}

.controls {
  color: #FFFFFF;
  background-color: rgba(26, 26, 26, 0.5);
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 20px;
}
